<div id="content" class="text-white flex flex-grow justify-center items-center">
  <div class="flex flex-col justify-start p-20 w-full max-w-6xl">
    <h1 class="text-gray-300 font-extrabold text-7xl">Work in Progress</h1>
    <br>
    <p id="introduction" class="text-dark-gray text-lg">
      I'm currently reformatting my CV to work on this site, for now you can download a pdf copy.
    </p>
    <br>
    <app-fillButton external="true" href="https://drive.google.com/uc?export=download&id=1KRsV1gGLRzjQqZfW7vBSVhhFUJmofLPu" content="Download CV"></app-fillButton>
  </div>
</div>
