<div id="content" class="text-white flex flex-grow justify-center items-center">
  <div id="main" class="flex flex-col justify-start w-full max-w-6xl gap-6">
    <h1 class="text-gray-300 font-extrabold text-7xl">Work in Progress</h1>
    <p id="introduction" class="text-dark-gray text-lg">
      I'm currently reformatting my CV to work on this site, for now you can download a pdf copy.
    </p>
    <app-fillButton href="{{s3Url}}CVMain.pdf" content="PDF Version"></app-fillButton>
  </div>
</div>
