@media (max-device-width: 34rem) {
  #logo-container p {
    display: none;
  }
}

#header-container {
  border-bottom-width: 1px;
  --tw-border-opacity: 0.5;
}

#nav-links a:hover {
  color: var(--secondary-colour);
  scale: 110%;
}

#nav-links a.active-link {
  color: var(--secondary-colour);
  scale: 110%;
}

button:hover, .active-button-link {
  color: white;
  scale: 110%;
}

button:before {
  border-radius: .25rem;
  transition-duration: 300ms;
  content: "";
  position: absolute;
  background: var(--secondary-colour);
  bottom: 0;
  top: 100%;
  right: 0;
  left: 0;
  z-index: -1;
}

button:hover:before, .active-button-link:before {
  top: 0;
  scale: 110%;
}
