<div id="content" class="text-white flex flex-grow justify-center items-center">
  <div id="main" class="flex flex-col justify-start w-full max-w-6xl gap-6">
    <h2 class="text-gray-300 font-extrabold text-4xl"><span class="text-5xl text-secondary">Hi,</span> I'm Dean Luckham</h2>
    <p class="text-dark-gray text-lg">
      I'm a service desk engineer with <a href="https://zenzero.co.uk" class="text-secondary hover:text-gray-300 duration-300">Zenzero</a>
      and student currently studying part-time with the Open University working towards BSc Computing & IT (Software).
      I have some prior experience programming from self-teaching over the years including Python, C++,
      Java, Kotlin, Javascript and Typescript. I started developing this site as a personal project to develop
      my knowledge and skills, it's constantly under development and I'm always looking at new things I can add
      or things that I can improve.
    </p>
    <p>
      In my free time away from a computer I'm normally enjoying the south downs by bike or foot, swimming, exploring and
      slaying monsters in the Kingdom of Hyrule, or splatting squids in Splatsville.
    </p>
  </div>
</div>
