<div id="content" class="text-white flex flex-grow justify-center items-center">
  <div class="flex flex-col justify-start p-20 w-full max-w-6xl gap-6">
    <h2 class="text-gray-300 font-extrabold text-4xl"><span class="text-5xl text-secondary">Hi,</span> I'm Dean Luckham</h2>
    <p class="text-dark-gray text-lg">
      I'm currently studying part-time with the Open University working towards BSc Computing & IT (Software).
      I have some prior experience programming from self-teaching over the years including Python, C++,
      Java, Kotlin, Javascript and Typescript. I started developing this site as a personal project to develop
      my knowledge and skills, it's constantly under development and I'm always looking at new things I can add
      or things that I can improve.
    </p>
    <p class="text-dark-gray text-lg">
      In my free time away from my computer I'm normally enjoying the south downs by bike or foot, exploring and slaying
      monsters in the Kingdom of Hyrule, or staying fresh and splatting squids in Splatsville.
    </p>
  </div>
</div>
