<div id="content" class="text-white flex flex-grow justify-center items-center">
  <div class="flex flex-col justify-start p-20 w-full max-w-6xl gap-6">
    <h2 class="text-gray-300 font-extrabold text-3xl"><span class="text-4xl text-secondary">Hi,</span> I'm Dean Luckham</h2>
    <p id="introduction" class="text-dark-gray text-lg">
      Hi, my name is Dean Luckham, I'm a student based in West Sussex, UK,
      studying BSc Computing & IT (Software) part time with the Open University.
    </p>
  </div>
</div>
