<div id="content" class="text-white flex flex-grow justify-center items-center">
  <div id="main" class="flex flex-col justify-start w-full max-w-6xl gap-6">
    <h1 class="text-gray-300 font-extrabold text-7xl">Dean Luckham</h1>
    <div class="flex flex-col gap-2.5">
      <h2 class="text-dark-gray font-extrabold text-5xl">Service Desk Engineer</h2>
      <h2 class="text-dark-gray font-extrabold text-5xl">Software Development Student</h2>
    </div>
    <p id="introduction" class="text-dark-gray text-lg">
      <span class="text-secondary">Hi, I'm Dean Luckham</span>, I'm a service desk engineer at
      <a href="https://zenzero.co.uk" class="text-secondary hover:text-gray-300 duration-300">Zenzero</a> and student
      based in West Sussex, UK, studying BSc Computing & IT (Software) part time with the Open University.
      I'm a self taught IT specialist hoping to expand my skills and knowledge through my time studying.
    </p>
  </div>
</div>
